<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>라따두잇</title>
</head>
<style type="text/css">
 #preImg{
 	width: 500px;
 	height: 300px;
 }
 
 .col-md-12{
 	width: 100%
 }
 
 #keywordBox{
 	width: 20%;
 	height: 30px;
 }
</style>
<body>
	<h1>게시글 등록</h1>
	
	<div class="col-md-12">
	<!-- 	<form th:object=${GalleryVo} th:action="@{uploadP}" method="post" enctype="multipart/form-data"> -->
	
		<!-- type -->
		<div>
			<select id="type1">
				<option>분류</option>
				<option value="한식">한식</option>
				<option value="중식">중식</option>
				<option value="일식">일식</option>
				<option value="양식">양식</option>
				<option value="기타">기타</option>
			</select>
			
			<select id="type2">
				<option>주재료</option>
				<option value="한식">한식</option>
				<option value="중식">중식</option>
				<option value="일식">일식</option>
				<option value="양식">양식</option>
				<option value="기타">기타</option>
			</select>
		</div>
	
		<!-- 이미지 업로드 -->
		<div>
			<input type="file" name="files" id="uploadFile" accept="image/*" multiple />
		</div>
		
		<!-- 이미지 썸네일 -->
		<div id="thumbnail"></div>
		
		<!-- 본문 -->
		<div>
			<textarea id="content" placeholder="사진에 대해서 설명해주세요."></textarea>
		</div>
		
		<!-- 키워드 태그 -->
		<div id="keywordList">
			<input type="text" id="keyword" onKeyDown="pressSpace()" />
		</div>
		
		<!-- 업로드 버튼 -->
		<div>
			<button type="button" class="btn btn-primary" id="btn-save" onclick="upload()">올리기</button>
		</div>
	<!-- 	</form> -->
	</div>
	
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" th:src="@{resources/js/upload.js}"></script>

</body>
</html>